<div *ngIf="!lastQuestion" class="quiz-container">
    <div  class="question">{{ currentQuestion.question }}</div>
    <div class="choices">
      <div class="choice" *ngFor="let choice of currentQuestion.choices" 
           [ngClass]="{'selected': choice === selectedChoice, 'correct': choice === currentQuestion.answer, 'incorrect': choice === selectedChoice && choice !== currentQuestion.answer}"
           (click)="selectChoice(choice)">
        {{ choice }}
      </div>
    </div>
    <a *ngIf="selected" class="next-button" (click)="nextQuestion()">Next</a>
    <a *ngIf="!selected" class="next-button">Next</a>
    <div class="score1" *ngIf="showScore">Your score: {{ score }}/{{ totalQuestions }}</div>
  </div>


    <div *ngIf="lastQuestion" class="quiz-container">
        <div class="score2" *ngIf="showScore">Your score: {{ score }}/{{ totalQuestions }}</div>
        <a *ngIf="lastQuestion" class="submit-button" (click)="submitQuiz()">Submit</a>
    </div>

    
  
  