.proof-header {
  padding: 8px;
  font-size: 25px;
}

.send-button {
  position: absolute;
  bottom: 10vh;
  left: 20vw;
  height: 5vh;
  width: 25vw;
  background-color: var(--green);
  border-radius: 8px;
  color: whitesmoke;
  font-size: 21px;
}

.refresh-button {
  position: absolute;
  bottom: 10vh;
  right: 20vw;
  height: 5vh;
  width: 25vw;
  background-color: var(--green);
  border-radius: 8px;
  color: whitesmoke;
  font-size: 21px;
}

.loading-spinner {
  position: absolute;
  top: 40vh;
  left: 30vw;
  height: 40vw;
  width: 40vw;
}
