.wrapper{
  margin-top: calc(3.5em + 1.7vh);
}

.proof-header{
  
}

.streamer{
  margin: auto;
  width: min-content;
}

.proof-header {
  padding: 8px;
  font-size: 25px;
}

.send-button {
  position: absolute;
  bottom: 10vh;
  left: 20vw;
  height: 5vh;
  width: 25vw;
  background-color: var(--green);
  border-radius: 8px;
  color: whitesmoke;
  font-size: 21px;
}

.refresh-button {
  position: absolute;
  bottom: 10vh;
  right: 20vw;
  height: 5vh;
  width: 25vw;
  background-color: var(--green);
  border-radius: 8px;
  color: whitesmoke;
  font-size: 21px;
}

.loading-spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  height: 20vw;
  width: 20vw;
}
