<div class="wrapper">
    <p>Make a change:</p>


    <div class="action-button" (click)="showDescriptionPanel(0)">
        <img src="assets/icons/recycle-bin.png" width="70" height="70"/>
        <span>Recycling stations.</span>
        <div class="action-description" *ngIf="showDescriptions[0]">
            You can earn 1000 points for your company by installing recycling stations at your office
            <a (click)="goToProof('recycle-station')">Show us proof!</a>
        </div>
    </div>
    

    <div class="action-button" (click)="showDescriptionPanel(1)">
        <img src="assets/icons/solar-panel.png" width="70" height="70"/>
        <span>Go green energywise.</span>
        <div class="action-description" *ngIf="showDescriptions[1]">
            You can earn 2000 points for your company by installing solar panels at your office
            <a (click)="goToProof('solar-panel')">Show us proof!</a>
        </div>
    </div>
    

    <div class="action-button" (click)="showDescriptionPanel(2)">
        <img src="assets/icons/electric-car.png" width="70" height="70"/>
        <span>Electric cars</span>
        <div class="action-description" *ngIf="showDescriptions[2]">
            Earn 5000 points for your company by changhing your cars to electric ones and providing charging stations for them.
            <a (click)="goToProof('electric-car')">Show us proof!</a>
        </div>
    </div>
    

    <div class="action-button" (click)="showDescriptionPanel(3)">
        <img src="assets/icons/office-plants.png" width="70" height="70"/>
        <span>Green office.</span>
        <div class="action-description" *ngIf="showDescriptions[3]">
        Earn 700 for your company for filling your office with plants.
        <a (click)="goToProof('office-plants')">Show us proof!</a>
    </div>
    </div>
    
    

</div>
<a id="adduser" routerLink="/adduser">Add user</a>
