h1 {
    background-color: var(--green);
    border-bottom: 2px solid var(--dark-green);
    margin: 0;
    padding: 1.7vh 0vh;
    position: fixed;
    z-index: 1;
    top: 0;
    font-size: 3.5em;
    width: 100vw;
}

.header-text {
  padding-top: 15px;
  padding-left: 3vw;
  font-weight: bold;
}

fa-icon {
  position: fixed;
  z-index: 2;
  right:3vw;
  top: 2.2vh;
  font-size: 2em;
}