<div class="wrapper">
    <h2>Leaderboard</h2>
    <table>
        <thead>
            <th>Corporation</th>
            <th>Score</th>
        </thead>
        <tbody>
            <tr>
                <td>Nume</td>
                <td>200</td>
            </tr>
            <tr>
                <td>Nume</td>
                <td>200</td>
            </tr>
            <tr>
                <td>Nume</td>
                <td>200</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- dotnet ef migrations add Initial -o data -->
