.wrapper {
    margin-bottom: 7vh;
    margin-top: calc(3.5em + 3.4vh);
    width: 95vw;
    margin-left: auto;
    margin-right: auto;

    h2{
        padding-left: 6vw;
    }
    .post{
        
        position: relative;
        margin: auto;
        width: 95%;
        height: min-content;
        //background-color: aqua;
        border-radius: 10px;
        margin-bottom: 10px;

        .title{
            border-radius: 10px 10px 0px 0px;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            color: white;
            background-color: #000;
            margin-bottom: 0px;
        }

        .date{
            border-radius: 10px 0px 0px 10px;
            position: absolute;
            bottom: 10px;
            right: 0;
            background-color: #000;
            color: white;
            padding: 10px;
          

        }

        .post-photo {
            max-width:100%;
            min-height: 250px;
            width: auto;
            height: auto;
        }
    }

    .streak-post{
        background-color: var(--dark-green) !important;
    }
}