.wrapper{
  margin-top: calc(3.5em + 1.7vh);
  display:grid
}
.user-picture{
  border-radius: 50%;
}
#user-img {
  overflow: hidden;
  border-radius: 50%;
  height: 30vw;
  width: 30vw;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  display: inline;
  float: left;
}

.user-name {
  display: inline;
  float: left;
  padding-top: 15px;
  padding-left: 10px;
  font-size: 24px;
  font-weight: bold;
}

.user-company {
  display: inline;
  float: left;
  padding: 10px;
  font-size: 21px;
}

.user-score {
  b{
    color: var(--green);
  }
  display: inline;
  float: left;
  padding: 10px;
  font-size: 26px;
}

.user-achievments {
  margin-top: 40px;
  text-align: center;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
}

.badge-card {
  margin-top: 20vf;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  border-radius: 15px;
  height: 50vh;
  
}

.item{
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}

.achievements-icon {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  height: 125px;
  width: 125px;
  display: inline;
  float: left;
  margin: 5px;
}

.caption {
  font-size: 15px;
  font-weight: 600;
  display: block;
  
}