.login-container {
    margin-top: calc(3.5em + 3.4vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
  
    h2 {
      font-size: 32px;
      margin-bottom: 20px;
    }
  
    form {
      width: 100%;
      max-width: 400px;
  
      .form-group {
        margin-bottom: 20px;
  
        label {
          display: block;
          margin-bottom: 5px;
        }
  
        input {
          width: 90%;
          padding: 10px;
          font-size: 16px;
          border: none;
          border-radius: 5px;
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
          transition: box-shadow 0.2s ease-in-out;
  
          &:focus {
            outline: none;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          }
        }
      }
  
      a {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        font-weight: bold;

        border: none;
        border-radius: 5px;
        background-color: var(--green);
        color: #fff;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
      }
    }
  
    @media screen and (min-width: 768px) {
      
      max-width: 600px;
      margin: auto;
      margin-top: calc(3.5em + 3.4vh);
      h2 {
        font-size: 48px;
        margin-bottom: 30px;
      }
  
      form {
        max-width: 500px;
      }
    }
  }
  