body {
    --brown: #9F684B;
    --cream: #EEDBBE;
    --blue: #C2D6C5;
    --green: #5E8D66;
    --dark-green: #3E4F44;

    margin: 0;
    padding: 0;

    background-color: var(--cream);
}

div {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  -webkit-box-shadow: 10px 10px 10px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 10px -3px rgba(0,0,0,0.75);
box-shadow: 10px 10px 10px -3px rgba(0,0,0,0.75);
}


